<html lang='en'>
  <head>
    <title>Feedback form</title>
    <style>
      #main {
        padding-left: 150px;
        padding-top: 50px;
      }

      footer {
        position: relative;
        bottom: 0;
        padding: 3px;
        background-color: rgb(24, 166, 223);
        color: white;
      }
    </style>
    <link rel='stylesheet' href='nav_css.css' />
    <link rel='icon' href='icon.jpg' type='image/x-icon' />
  </head>
  <body>
    <div id='main'>
      <h1><u>FEEDBACK FORM</u></h1>
      <form action='signup.html'>
        <label>
          <textarea
            rows='25'
            cols='150'
            style='background-color: #efb7ba; caret-color: #194f92'
          ></textarea>
        </label>
        <br />
        <input
          style='color: blue; background-color: chartreuse'
          type='submit'
        />
      </form>
      <br /><br /><br /><br />
    </div>
    <footer>
      <p>This website is managed by group 5<br /></p>
    </footer>
  </body>
</html>
